Web References/localhost/TopToursWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddReviewWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="caption" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="customer_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="route_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddReviewWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddReviewWSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReviewWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="caption" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReviewWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReviewWSResult" type="tns:Review" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Review">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Caption" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllReviewsOfRouteWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="route_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllReviewsOfRouteWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllReviewsOfRouteWSResult" type="tns:ArrayOfReview" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReview">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateValueWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="r" type="tns:Review" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateValueWSResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteReviewWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="r" type="tns:Review" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReviewWSResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddReviewWSSoapIn">
    <wsdl:part name="parameters" element="tns:AddReviewWS" />
  </wsdl:message>
  <wsdl:message name="AddReviewWSSoapOut">
    <wsdl:part name="parameters" element="tns:AddReviewWSResponse" />
  </wsdl:message>
  <wsdl:message name="GetReviewWSSoapIn">
    <wsdl:part name="parameters" element="tns:GetReviewWS" />
  </wsdl:message>
  <wsdl:message name="GetReviewWSSoapOut">
    <wsdl:part name="parameters" element="tns:GetReviewWSResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllReviewsOfRouteWSSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllReviewsOfRouteWS" />
  </wsdl:message>
  <wsdl:message name="GetAllReviewsOfRouteWSSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllReviewsOfRouteWSResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateValueWSSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateValueWS" />
  </wsdl:message>
  <wsdl:message name="UpdateValueWSSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateValueWSResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteReviewWSSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteReviewWS" />
  </wsdl:message>
  <wsdl:message name="DeleteReviewWSSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteReviewWSResponse" />
  </wsdl:message>
  <wsdl:portType name="TopToursWSSoap">
    <wsdl:operation name="AddReviewWS">
      <wsdl:input message="tns:AddReviewWSSoapIn" />
      <wsdl:output message="tns:AddReviewWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewWS">
      <wsdl:input message="tns:GetReviewWSSoapIn" />
      <wsdl:output message="tns:GetReviewWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewsOfRouteWS">
      <wsdl:input message="tns:GetAllReviewsOfRouteWSSoapIn" />
      <wsdl:output message="tns:GetAllReviewsOfRouteWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateValueWS">
      <wsdl:input message="tns:UpdateValueWSSoapIn" />
      <wsdl:output message="tns:UpdateValueWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReviewWS">
      <wsdl:input message="tns:DeleteReviewWSSoapIn" />
      <wsdl:output message="tns:DeleteReviewWSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TopToursWSSoap" type="tns:TopToursWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddReviewWS">
      <soap:operation soapAction="http://tempuri.org/AddReviewWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewWS">
      <soap:operation soapAction="http://tempuri.org/GetReviewWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewsOfRouteWS">
      <soap:operation soapAction="http://tempuri.org/GetAllReviewsOfRouteWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateValueWS">
      <soap:operation soapAction="http://tempuri.org/UpdateValueWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReviewWS">
      <soap:operation soapAction="http://tempuri.org/DeleteReviewWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TopToursWSSoap12" type="tns:TopToursWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddReviewWS">
      <soap12:operation soapAction="http://tempuri.org/AddReviewWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewWS">
      <soap12:operation soapAction="http://tempuri.org/GetReviewWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewsOfRouteWS">
      <soap12:operation soapAction="http://tempuri.org/GetAllReviewsOfRouteWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateValueWS">
      <soap12:operation soapAction="http://tempuri.org/UpdateValueWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReviewWS">
      <soap12:operation soapAction="http://tempuri.org/DeleteReviewWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TopToursWS">
    <wsdl:port name="TopToursWSSoap" binding="tns:TopToursWSSoap">
      <soap:address location="https://localhost:44359/TopToursWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TopToursWSSoap12" binding="tns:TopToursWSSoap12">
      <soap12:address location="https://localhost:44359/TopToursWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>